.featured-item {
  color: var(--main-color);
  text-align: center;
  border: 1px solid #fff;
  cursor: pointer;
  .cost {
    background: rgb(110, 71, 251);
    background: linear-gradient(
      186deg,
      rgba(110, 71, 251, 1) 0%,
      rgba(6, 0, 47, 1) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  &:hover {
    transform: scale(1.025);
    transition: all 0.3s;
  }
}
