.navContainer {
  display: flex;
  align-items: center;

  svg {
    margin: 0px 5px;
    cursor: pointer;
  }
}
span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
  display: flex;
  align-items: center;
  margin-top: 10px;
  a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
  }
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background: rgb(110, 71, 251) !important;
  background: linear-gradient(
    186deg,
    rgba(110, 71, 251, 1) 0%,
    rgba(6, 0, 47, 1) 100%
  ) !important;
  color: #fff !important;
}
