.not-found {
  color: #fff;
  text-align: center;
  background: rgb(110, 71, 251);
  background: linear-gradient(
    186deg,
    rgba(110, 71, 251, 1) 0%,
    rgba(6, 0, 47, 1) 100%
  );
  padding: 340px 0px;
  border-radius: 5px;
}
