.product-img {
  height: 80px;
  width: 50px;
}
.product-action {
  .delete-btn {
    background: rgb(255, 32, 32);
    text-transform: capitalize;
    margin: 5px;
  }
  .edit-btn {
    text-transform: capitalize;
    margin: 5px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  a {
    text-decoration: none;
  }
}
