.product-img {
  height: 100px;
  width: 60px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.product-action {
  .delete-btn {
    background: rgb(255, 32, 32);
    text-transform: capitalize;
    margin: 5px;
  }
  .edit-btn {
    text-transform: capitalize;
    margin: 5px;
  }
  a {
    text-decoration: none;
  }
}
.component-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .added-item a {
    text-decoration: none;
    button {
      background: rgb(110, 71, 251);
      background: linear-gradient(
        186deg,
        rgba(110, 71, 251, 1) 0%,
        rgba(6, 0, 47, 1) 100%
      );
      color: #fff;
      text-transform: capitalize;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        color: var(--main-color);
        border: 1px solid rgb(66, 47, 236);
        background: #fff;
        text-decoration: none;
      }
    }
  }
}
