.add-product-form {
  border: 2px solid #303e67;
  padding: 60px 20px;
  border-radius: 5px;

  input {
    width: 100%;
    margin: 5px 0px;
    padding: 10px 20px;
    border: 1px solid #303e67;
    border-radius: 5px;
    font-size: 1rem;
  }
  input:last-child {
    background: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    width: 200px;
    border: none;
    margin: 10px auto;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: var(--main-color);
      border: 1px solid var(--main-color);
      background: #fff;
      text-decoration: none;
    }
  }
}
